# /etc/systemd/system/BiliBiliHelper.service

[Unit]
Description=BiliBiliHelper Manager
Documentation=https://github.com/TheWanderingCoel/BiliBiliHelper
After=network.target

[Service]
ExecStart=/usr/local/bin/python3 /root/BiliBiliHelper/main.py -d
Restart=on-failure

[Install]
WantedBy=multi-user.target